<div class="rouleutte-div col-6 m-auto">

  <h1>Create new edition!</h1>

  <div id="form-carousel" class="owl-carousel owl-theme">
    <div class="owl-content">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title ellipsis">Pick Host</h5>
          <div class="card-text">
            <p>ROULETTE</p>
            <div id="button-roulette" class="btn btn-danger">
              Spin the Roulette!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



 <div id="wheel">
    <canvas id="canvas" width="300" height="300"></canvas>
 </div>









