.hidding-active {
  display: none;
}

.stats {
  padding-left: 0;
  padding-right: 24px;
  height: calc(100vh - 95px);
  position: sticky;
  top: calc(56px + 1em);
  user-select: none;
}

.stats-card-hosting, .stats-card-scheduled {
  border-radius: $border-radius;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .stats-chart {
    margin: 0 auto;
    position: relative;
  }
  i {
    color: $red;
    font-size: 80px;
  }
  h1 {
    color: #93a3c0;
    font-weight: bold;
  }
  &:hover {
    box-shadow: 0 0 10px $info;
    cursor: pointer;
  }
}

.title-charts {
  font-family: 'Catamaran';
  font-size: 35px;
  font-weight: bold;
}

.text-inside-chart {
  top: 70px;
  font-family: 'Catamaran';
  font-size: 25px;
  font-weight: bold;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0px auto;
  padding: 0px;
  line-height: 30px;
  p {
    line-height: 30px;
  }
}

.notifications {
  display: flex;
  justify-content: space-between;
}

.notification-card {
  text-align: center;
  width: 48.5%;
  height: 15vh;
  border-radius: $border-radius;
  padding: 30px;
  background-color: white;
}

.dashboard-card {
  border-radius: $border-radius;
  background-color: white;
  text-decoration: none;
  overflow: hidden;
}

.card-container a {
 text-decoration: none;
}

.button-show {
  margin-left: auto;
  align-self: center;
}

.box-shadow {
  box-shadow: 0 0 10px $info;
}

.avatar-guest-small {
  width: 30px;
  border-radius: 50%;
}

.show-guest-list-item {
  align-self: center;
  &:first-child {
    margin-left: 0;
    img {
      box-shadow: none;
    }
  }
  margin-left: -12px;
  img {
    box-shadow: -3px 0 0 $white;
  }
}

.countdown-dashboard {
  text-align: center;
  color: $red;
  i {
    align-self: center;
    font-size: 1em;
  }
}

h4 {
  margin: 0px;
  padding: 0px;
  align-self: center;
  text-transform: uppercase;
  font-weight: bold;
}

.tiny-tag {
  font-size: 0.75em;
  align-self: center;
}

.dashboard-card-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 0px 0px 5px;
  height: 100%;
  opacity: 0.8;
}

h2 {
  align-self: center;
}

.bottom-card {
  margin-top: 10px;
  padding: 0px;
}

@include media-breakpoint-up(sm) {
  .avatar-guest-small {
    width: 45px;
  }
  .tiny-tag {
    font-size: 1em;
  }
}
