.hidding-active {
  display: none;
}

.stats {
  padding-left: 12px;
  height: calc(100vh - 95px);
  position: sticky;
  top: 95px;
}

.stats-card i {
  color: $red;
  font-size: 80px;
}

.stats-card h1 {
  color: #93a3c0;
  font-weight: bold;
}


.title-charts {
  font-family: 'Catamaran';
  font-size:35px;
  font-weight:bold;
}

.stats-card {
  height:auto;
  width:92%;
  border-radius:8px;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .stats-chart {
    height:100%;
    margin: 0 auto;
    position:relative;

  }
}

.text-inside-chart {
  top:80px;
  font-family:'Catamaran';
  font-size:30px;
  font-weight:bold;
  left:0;
  right:0;
  bottom:0;
  position:absolute;

}

.notifications {
  display: flex;
  justify-content: space-between;
}

.notification-card {
  text-align:center;
  width:48.5%;
  height:15vh;
  border-radius:8px;
  padding: 30px;
  background-color: white;
}

.card-container {
  padding-right: 12px;
}

.dashboard-card {
  border-radius:8px;
  padding: 10px 10px;
  margin-bottom: 24px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.scaled {
  transform: scale(1.5);
  transform-origin: left;
}





