.hidding-active {
  display: none;
}
.stats-container {
  width:100%;
  height:20vh;
  border: 1px solid lightgrey;
  border-radius:8px;
  text-align:center;
}

.notification-container {
  text-align:center;
  width:90%;
  height:15vh;
  border: 1px solid lightgrey;
  border-radius:8px;
  text-align:center;
  padding: 30px;
}
