.edition-main-container {

}

.edition-content-container {
  background-color:white;
  border-radius: $border-radius;
}
#edition-edit {
  border-radius:$border-radius;
  overflow:hidden;

}

.items-form {

}

.notes-input {
  height:100%
}
