#cover-picture {
  overflow:hidden;
  object-fit: cover;
}
.show-main-container {
  border-radius:20px;
}

.show-card-container {
  background-color: white;
  border-radius: 10px;
}

li {
  list-style: none;
}

.question-card{
  list-style: none;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  margin-top: 10px;
}

#show-page-title {
  font-size: 70px;
  text-align:center;
  font-family: 'Catamaran'
}

.countdown {
  padding: 10px;
  background-color: #93a3c0;
  color:white;
  border-radius: 5px;
}

/* Opacity */
.opacity-light {
  opacity: 0.3;
}

/* event guidelines */
.event-tags {
  background: #b7b7b7;
  padding: 8px;
  font-size:15px;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
}

.show-event-guidelines {
}

/* friends */

.show-guest-list {
  margin-left:5px;
}


.show-guest-list-card {
  border: 1px solid lightgrey;
  padding:5px 5px;
  width: 50%;
  min-width: 300px;
  margin:5px;
  border-radius: 5px;
  p {
    font-size:20px;
    font-weight:bold;
    float:none;
    margin:10px 5px;
  }
}
#see-all-guests {
  margin-top:5px;
  padding:5px 10px;
}

#more {
  display: none;
}

.avatar-guest {
  width:70px;
  border-radius: 50%;
}


