
<div class="dashboard-card-container">
<% @editions.each do |edition| %>
  <div class="dashboard-card col-8">
      <% unless edition.archived? %>
        <p><%= edition.name %></p>
        <p>Status:<%= edition.status %></p>
        <div>
          Guests: <% edition.guests.each do |guest|%>
          <%= guest.member.user.first_name %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

</div>
