
  <div class="dashboard-card-container">
  <% @editions.each do |edition| %>
    <% if edition.pending? %>
      <div class="dashboard-card">
          <p><%= edition.name %></p>
          <p>Status:<%= edition.status %></p>
          <div>
            Guests: <% edition.guests.each do |guest|%>
            <%= guest.member.user.first_name %>
            <% end %>
          </div>
          <p> <%= link_to 'Show', event_edition_path(edition.event, edition) %></p>
      </div>
    <% end %>

    <% end %>
  </div>
