<% if current_user.is_guest?(@edition) %>
  <h3> Questions to answer: </h3>
  <ul>
    <div class = 'question-card d-flex align-items-center justify-content-between'> Do you like Cheese?
      <%= link_to 'answer', edit_event_edition_path(@edition), class: 'btn btn-danger' %>
    </div>
    <div class = 'question-card d-flex align-items-center justify-content-between'> Do you like beer?
      <%= link_to 'answer', edit_event_edition_path(@edition), class: 'btn btn-danger' %>
    </div>
  </ul>
  <div class ='host-active-buttons'>
    <ul>
      <li><%= link_to 'See Questions', edit_event_edition_path(@edition), class: 'btn btn-danger' %></li>
    </ul>
  </div>
<% end %>



