<div class="show-plans">
  <% if !@edition.pending? %>
    <ul class="list-inline">
      <li>
        <i class="far fa-calendar-check"></i>
        <%= @edition.start_time.strftime("%d %^b %Y, at %Hh%Mm") unless @edition.start_time.nil?%>
      </li>
      <li>
        <i class="far fa-calendar-times"></i>
        <%= @edition.end_time.strftime("%d %^b %Y") unless @edition.end_time.nil?%>
      </li>

      <li>
        <i class="far fa-compass"></i>
        <%= @edition.address unless @edition.address.nil?%>
      </li>
    </ul>
  <% end %>
</div>
