<div class="show-host-notes">
  <h5>Notes</h5>
  <% if @edition.archived? %>
    <%= @edition.notes %>
  <% else %>
    <%= simple_form_for [@event, @edition], method: :patch do |f| %>
      <%= f.input :notes, label: false, placeholder: @edition.notes, input_html: {rows: 6} %>
      <%= f.submit 'Save notes', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>
