<% if @edition.active? %>
  <!-- Start time -->
  <div class="m-0 d-flex align-items-center show-icons">
    <i class="far fa-calendar-check text-left p-0"></i>
    <div class="text-nowrap overflow-auto">
      <h4 class="m-0"><%= @edition.start_time.strftime("%d %^b %Y, at %Hh%Mm") unless @edition.start_time.nil?%></h4>
    </div>
  </div>
  <!-- End time -->
  <div class="m-0 d-flex align-items-center show-icons">
    <i class="far fa-calendar-times text-left p-0"></i>
    <div class="text-nowrap overflow-auto">
      <h4 class="m-0"><%= @edition.end_time.strftime("%d %^b %Y") unless @edition.end_time.nil?%></h4>
    </div>
  </div>
  <!-- Address -->
  <div class="m-0 d-flex align-items-center show-icons">
    <i class="far fa-compass text-left p-0"></i>
    <div class="text-nowrap overflow-auto">
      <h4 class="m-0"><%= @edition.address unless @edition.address.nil?%></h4>
    </div>
  </div>
<% end %>
