<div class="show-host-notes">
  <h5>Notes</h5>
  <% if @edition.archived? %>
    <%= @edition.notes %>
  <% else %>
    <%= simple_form_for [@event, @edition], method: :patch do |f| %>
      <%= f.input :notes, label: false, placeholder: @edition.notes, input_html: {rows: 11}, class: 'notes-input mb-2' %>
      <div class = 'd-flex justify-content-end'>
        <%= f.submit 'Save notes', class: 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>
</div>
