<!-- loop de questions -->
<div class = 'question-card d-flex align-items-center justify-content-between'>
  <p class = 'text-center'> Do you like Cheese?</p>
  <%= link_to 'answers', edit_event_edition_path(@edition), class: 'btn btn-danger' %>
</div>
<div class = 'question-card d-flex align-items-center justify-content-between'>
  <p class = 'text-center'> Do you like Cheese?</p>
  <%= link_to 'answers', edit_event_edition_path(@edition), class: 'btn btn-danger' %>
</div>
