<h3>Surveys from host</h3>
<div>
  <% @edition.questions.each do |question| %>
    <div class = 'question-card d-flex align-items-center justify-content-between'>
      <%= question.content %>
      <p class = 'text-center'> Do you like Cheese?</p>
      <%= link_to 'answer', edit_event_edition_path(@edition), class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>
