  <!-- start time -->
  <!-- end time -->
  <!-- start_address -->
  <!-- map -->
  <!-- start_address / map -->
  <!-- items -->
  <!-- countdown -->


  <h2> Plans: </h2>
  <ul>
    <li>Start date:<%= @edition.start_time %></li>
    <li>End date: <%= @edition.end_time %></li>
    <li> Address: <%= @edition.address %></li>
  </ul>
  <h2> Bring some: </h2>
  <ul>
    <li> Sunscreen </li>
    <li> 4 Beers </li>
    <li> Cheese </li>
  </ul>





<!--  ITEMS iteration, can't be used now

   <ul>
      <% @edition.items.each do |item| %>
        <li><%= item.content %></li>
      <% end %>
    </ul> -->



