<div id="calendar-big">
  <%= month_calendar events: @editions do |date, editions| %>
    <%= date.day %>
    <% editions.each do |edition| %>
      <div>
        <%= edition.name %>
      </div>
    <% end %>
<% end %>
</div>
