<div id="cal-fix" class="col-8 mx-auto mt-4 show-main-container pt-4">
  <%= month_calendar events: @editions do |date, editions| %>
    <%= date.day %>
    <% editions.each do |edition| %>
      <div class="table-table-label mr-2 p-1 text-left">
        <%= link_to event_edition_path(edition.event, edition) do %>
          • <%= edition.name %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
