<header>
    <%= link_to dashboard_path, class: "dashboard-btn btn btn-outline-light" do %>
      <h1>🚨START HOSTING!🚨<br>(or not 😉)</h1>
    <% end %>
  <div class="overlay"></div>

  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://i.imgur.com/BQwUB2Q.mp4" type="video/mp4">
  </video>

  <div class="container d-flex text-white align-items-end justify-content-around">
    <div class="col-4">
      <h2>YEAH!!</h2>
      <h3>🤘</h3>
      <p>The first web app that let's you organize an event and select a random host!</p>
    </div>
    <div class="col-4">
      <h2>YEAH!!</h2>
      <h3>🤘</h3>
      <p>The first web app that let's you organize an event and select a random host!</p>
    </div>
    <div class="col-4">
      <h2>YEAH!!</h2>
      <h3>🤘</h3>
      <p>The first web app that let's you organize an event and select a random host!</p>
    </div>
  </div>
</header>
