<div class="landing-header">

  <%= link_to dashboard_path, id: 'logo-main-button' do %>
    <%= simple_format 'Who\'s next', id: 'logo-tagline' %>
    <%= image_tag 'logo-roulette.svg', id: 'logo-roulette' %>
    <%= image_tag 'logo-words.svg', id: 'logo-words' %>
  <% end %>

  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://imgur.com/KS2A8v6.mp4" type="video/mp4">
  </video>

  <div id="footer-landing">
    <!-- <ul class="list-inline d-flex justify-content-between">
      <li>An event organizing app, made at Le Wagon Lisbon, 2020</li>
    </ul> -->
  </div>
</div>
