<header>
    <%= link_to dashboard_path, id: "dashboard-btn" do %>
      <h1>Who's next?<br></h1>
    <% end %>

    <button class='myButt five'>
     <div class='layer'>
      <%= link_to dashboard_path do %>
      Who's next?
      <% end %>
     </div>
      Host Roulette
    </button>



  <div class="overlay"></div>

  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://imgur.com/KS2A8v6.mp4" type="video/mp4">
  </video>
</header>


