<h1>Dashboard</h1>

<button  onclick="hidingPending()" class = 'btn btn-primary' id = "filter-by-state">All</button>


<div class="active-cards" id= 'active-cards'>
  <%= render 'pages/filters/active-editions' %>
</div>

<div class="pending-cards" id= 'pending-cards'>
  <%= render 'pages/filters/pending-editions' %>
</div>
