<h1>Dashboard</h1>

<div class="dashboard-card-container d-flex">
  <% @events.each do |event| %>
  <div class="dashboard-card col-8">
    <% event.editions.each do |edition| %>
      <% unless edition.archived? %>
        <p><%= edition.name %></p>
        <p>Status:<%= edition.status %></p>
        <p>Guests:<%= edition.guests.size %></p>
        <%=  link_to 'Show', event_edition_path(event, edition) %>
      <% end %>
    <% end %>
    </div>
  <% end %>
</div>
