<div class="content-container d-flex mt-4 mt-md-3">
  <div class="card-container col-lg-9 px-4">
    <% @past_editions.each do |edition| %>
      <%= render 'shared/edition_cards', edition: edition %>
    <% end %>
  </div>
</div>
