/* button in the show page for archived */
.pick-host-link{
  color:white;
}

.pick-host-link:hover{
  text-decoration: none;
  color:white;
}


/* button in the past-events-page */
.past-events-pick {
    text-align: center;
    padding: 8px 15px;

  h3 {
    text-align: center;
    margin-bottom:0px;
  }
}

.past-events-pick:hover {
  background-color: #af2f21;
}


