


.panel {
  position: relative;
  background: white;
  width: 300px;
  margin: 40px auto;
  text-align: center;
  @include border-radius(4px);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
}
.chart{
  display: inline-block;
  width: 110px;
  margin: 40px auto 20px;
  padding: 0 10px;
}
.easyPieChart {
  position: relative;
  text-align: center;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.percentage,
.label {
    margin-bottom: 0.5em;
    text-align: center;
    font-weight: 100;
}
.percentage{
  font-size: 17px;
}
sup{
  top: -0.2em;
  margin-left: 1px;
}
.ctrl{
  position: absolute;
  right: 10px;
  top: 5px;
  color: #c4cdcc;
  word-spacing: 5px;
  span{
    cursor: pointer;
    @include transition(color .5s ease-in-out);
    &:hover{
      color: #000;
    }
  }
}


.left-container {}
      .menu-box {
        height: 360px;
      }
        .menu-box .titular {
          background: #11a8ab;
        }
        .menu-box-menu .icon {
          display: inline-block;
          vertical-align: top;
          width: 28px;
          margin-left: 20px;
          margin-right: 15px;
        }
        .menu-box-number {
          width: 36px;
          line-height: 22px;
          background: #50597b;
          text-align: center;
          border-radius: 15px;
          position: absolute;
          top: 15px;
          right: 15px;
          -webkit-transition: all .3s;
          transition: all .3s;
        }
        .menu-box-menu li{
          height: 60px;
          position: relative;
        }
        .menu-box-tab {
          line-height: 60px;
          display: block;
          border-bottom: 1px solid #1f253d;
          -webkit-transition: background .2s;
          transition: background .2s;
        }
          .menu-box-tab:hover {
            background: #50597b;
            border-top: 1px solid #1f253d;
            text-decoration: none;
          }
          .menu-box-tab:hover .icon {
            color: #fff;
          }
          .menu-box-tab:hover .menu-box-number {
            background: #e64c65;
          }
      .donut-chart-block {
        height: 434px;
      }
        .donut-chart-block .titular {
          padding: 10px 0;
        }
        .donut-chart {
          height: 270px;
        }
        /******************************************
        DONUT-CHART by @kseso https://codepen.io/Kseso/pen/phiyL
        ******************************************/
          .donut-chart {
            position: relative;
            width: 200px;
            height: 200px;
            margin: 0 auto 2rem;
            border-radius: 100%
           }
          p.center-date {
            background: #394264;
            position: absolute;
            text-align: center;
            font-size: 28px;
            top:0;left:0;bottom:0;right:0;
            width: 130px;
            height: 130px;
            margin: auto;
            border-radius: 50%;
            line-height: 35px;
            padding: 15% 0 0;
          }
          .center-date span.scnd-font-color {
           line-height: 0;
          }
          .recorte {
              border-radius: 50%;
              clip: rect(0px, 200px, 200px, 100px);
              height: 100%;
              position: absolute;
              width: 100%;
            }
          .quesito {
              border-radius: 50%;
              clip: rect(0px, 100px, 200px, 0px);
              height: 100%;
              position: absolute;
              width: 100%;
              font-family: monospace;
              font-size: 1.5rem;
            }
          #porcion1 {
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
            }

          #porcion1 .quesito {
              background-color: #E64C65;
              -webkit-transform: rotate(76deg);
              transform: rotate(76deg);
            }
          #porcion2 {
              -webkit-transform: rotate(76deg);
              transform: rotate(76deg);
            }
          #porcion2 .quesito {
              background-color: #11A8AB;
              -webkit-transform: rotate(140deg);
              transform: rotate(140deg);
            }
          #porcion3 {
              -webkit-transform: rotate(215deg);
              transform: rotate(215deg);
            }
          #porcion3 .quesito {
              background-color: #4FC4F6;
              -webkit-transform: rotate(113deg);
              transform: rotate(113deg);
            }
          #porcionFin {
              -webkit-transform: rotate(-32deg);
              transform:rotate(-32deg);
            }
          #porcionFin .quesito {
              background-color: #FCB150;
              -webkit-transform: rotate(32deg);
              transform: rotate(32deg);
            }
        /******************************************
        END DONUT-CHART by @kseso https://codepen.io/Kseso/pen/phiyL
        ******************************************/
        .os-percentages {
          padding-top: 36px;
        }
        .os-percentages li {
          width: 75px;
          border-left: 1px solid #394264;
          text-align: center;
          background: #50597b;
        }
          .os {
            margin: 0;
            padding: 10px 0 5px;
            font-size: 15px;
          }
            .os.ios {
              border-top: 4px solid #e64c65;
            }
            .os.mac {
              border-top: 4px solid #11a8ab;
            }
            .os.linux {
              border-top: 4px solid #fcb150;
            }
            .os.win {
              border-top: 4px solid #4fc4f6;
            }
          .os-percentage {
            margin: 0;
            padding: 0 0 15px 10px;
            font-size: 25px;
          }
      .line-chart-block {
        height: 400px;
      }
        .line-chart {
          height: 200px;
          background: #11a8ab;
        }
