.corner-text-wrapper {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  clip: rect(0px, 141.421px, 70.7107px, 0px);
  height: 141.421px;
  position: absolute;
  right: -21.7107px;
  top: -19.7107px;
  width: 141.421px;
}
.corner-text {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  color: white;
  left: 20px;
  top: 20px;
  background-color: $kashblue;
  display: block;
  height: 100px;
  position: absolute;
  width: 100px;
  span {
    font-size: 1.5em;
    display: block;
    text-align: right;
  }
  i {
    margin-right: 0.5em;
    margin-top: 0.5em;
  }
}
