.footer-main {
  height: 56px;
  width: 100%;
  position: fixed;
  z-index: 3;
  bottom: 0px;
  background-color: $gray;
  .footer-icon {
    font-size: 1.5em;
  }
}

#button-add-event {
  transform: translatey(-24px);
  font-size: 56px;
  background-color: $gray;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
