// VIDEO
.header {
  position: relative;
  background-color: white;
  height: calc(100vh - 56px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;

}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  clip-path: inset(0px 0px 18vh 0px);
}

// LOGO
#logo-roulette {
  transition: all 1s ease;
  background-color: transparent;
  z-index: 9;

  &:hover {
    transform: rotate(1080deg);
  }
}

#logo-words {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

// BUTTON
.logo-button {
  top: calc(50% - 50px);
  left: 50%;
  position: fixed;
  z-index: 3;
  transform: translate(-50%, -50%);
  display: block;
  margin: 50px auto;
  background-color: transparent;
  border: none;
  font-family: 'Catamaran';
  @include transition(all 0.5s ease);
  outline: none;
  outline: none;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  width: 400px;

  .logo-tagline {
    outline: none;
    position: absolute;
    width: 100%;
    top: -145px;
    left: 0;
    font-size: 3em;
    font-style: italic;
    font-family: 'Lobster';
    @include transition(all 1s ease);
    text-decoration: none;
    a {
     text-decoration: none;
     color:#fff;
    }
  }

  &:hover .tagline {
    top: 320px;
    text-decoration: none;
  }
}

