header {
  position: relative;
  background-color: black;
  height: calc(100vh - 56px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  height: calc(100vh - 56px);
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  z-index: 1;
}

.dashboard-btn {
  top: 50%;
  position: fixed;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, -50%);
    a {
      text-decoration: none;
    }
}


.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
}

.cool {
  align-self: flex-end;
  border-radius: $border-radius;
  margin-bottom: 65px;
  background-color: $red;
  padding: 25px 10px;
}

