// VIDEO
header {
  position: relative;
  background-color: white;
  height: calc(100vh - 56px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

video {
  clip-path: inset(0px 0px 14vh 0px);
}

.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.7));
  z-index: 12;
}


// LOGO
#roulette-logo {
  transition: all 1s ease;
  background-color: transparent;

  &:hover {
    transform: rotate(1080deg);
  }
}

#words-logo {
  z-index: 9;
}

// BUTTON
.myButt {
  top: calc(50% - 50px);
  left: 50%;
  position: fixed;
  z-index: 3;
  transform: translate(-50%, -50%);
  outline: none;
  display: block;
  margin: 50px auto;
  background-color: transparent;
  border: none;
  font-family: 'Catamaran';
  @include transition(all 0.5s ease);
  outline: none;
}

.five {
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  width: 400px;

  .layer {

    position: absolute;
    width: 100%;
    top: -145px;
    left: 0;
    font-size: 3em;
    font-style: italic;
    font-family: 'Lobster';
    @include transition(all 1s ease);
    text-decoration: none;
  }

  &:hover {
    .layer {
      top: 320px;
      text-decoration: none;
    }
  }
}

.layer a {
 text-decoration: none;
 color:#fff;
}
