.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  z-index: 3;
  top: 0px;
  background-color: #f4f6f9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item-name {
  align-self: center;
  margin-right: 30px;
}

.notification-div {
  align-self: center;
  position:relative;
  cursor:pointer;
}

.notification-div  {
  .fa-bell {
    position:relative;
    margin-right: 30px;
    font-size:28px;
    text-align:right;
  }
  .fa-circle {
    position:absolute;
    left:10px;
    color:#e84c40;
    font-size:15px;
  }
}

.notification-bell:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  right:40px;
  background-color: #f9f9f9;
  z-index: 1;
  width:600px;
  border:1px solid lightgrey;
  border-radius:$border-radius;
  p {
    margin-bottom:0px;
  }
}

.dropdown-content a {
   text-decoration: none;
   text-overflow: ellipsis;
   margin: 0px;
}

.display-notifications {
  display: block;
}

.dropdown-notification-item {
  margin: 0 auto;
  width:99%;
  border: 1px solid lightgrey;
  border-radius:$border-radius;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom:2px;
}

.dropdown-notification-item:hover {
  background-color:#93a3c0;
  opacity:0.7;
  margin: 1px;
}

.active-notification {
  font-size:28px;
  padding:10px 5px;
  margin-right:0px;
  margin-bottom:0px;
}

#all-notification-text {
  font-weight: bold;
}

.form-shrink-grow {
  flex-grow: 1;
}
