.navbar-main {
  position: sticky;
  z-index: 3;
  top: 0px;
  right: 0px;
  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-brand img {
    width: 40px;
  }
}

.navbar-main-color {
  background-color: $red;
}

// LOGO
#logo-small-div {
  height: 40px;
  left: -8px;
  #logo-small {
    width: 60px;
  }
}

.nav-item-name {
  align-self: center;
  margin-right: 16px;
}

// SEARCH BAR
.form-inline {
  height: 40px;
  .form-control {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    background-color: $red;
    border: 1px solid $gray;
    color: $gray;
    &::placeholder {
      color: $gray;
    }
  }
}

.button-clear {
  top: 8px;
  right: 2rem;
  i {
    font-size: 1.5rem;
    color: $gray;
  }
}


@media (max-width: 350px) {
  .search-bar {
    max-width: 50%;
  }
  .search-bar-larger {
    min-width: 75%;
  }
  #navbarSupportedContent, #logo-small-div {
    max-width: 25%;
  }
}

@media (min-width: 351px) and (max-width: 450px) {
  .search-bar {
    max-width: 60%;
  }
  .search-bar-larger {
    min-width: 80%;
  }
  #navbarSupportedContent, #logo-small-div {
    max-width: 20%;
  }
}

@media (min-width: 451px) and (max-width: 575px) {
  .search-bar {
    max-width: 70%;
  }
  .search-bar-larger {
    min-width: 85%;
  }
  #navbarSupportedContent, #logo-small-div {
    max-width: 15%;
  }
}

@include media-breakpoint-up(md) {
  .navbar-main-color {
    background-color: $gray;
  }
  .form-inline .form-control {
    background-color: $gray;
    border: 1px solid #ced4da;
    color: #495057;
    &::placeholder {
      color: #495057;
    }
  }
  .button-clear {
    i {
      transform: translateX(-5rem);
      color: $success;
    }
  }
}

// NOTIFICATION BELL
.notification-div {
  align-self: center;
  position: relative;
  cursor: pointer;
}
.fa-bell {
  position: relative;
  font-size: 1.5em;
}
.fa-circle {
  position: absolute;
  left: 10px;
  color: $red;
  font-size: 0.5em;
  pointer-events: none;
}

#notification-bell:hover {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

// USER DROPDOWN
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

// NOTIFICATION DROPDOWN
.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  padding: 0.5rem 0;
  background-color: $white;
  z-index: 1;
  border: 1px solid #CFD1D4;
  border-radius: $border-radius;
  box-shadow: 0 0 10px $info;
  p {
    margin-bottom:0px;
  }
  a {
    text-decoration: none;
    text-overflow: ellipsis;
    margin: 0px;
  }
}

.display-notifications-up {
  width: 400px;
  display: inline-block;
  top: 42px;
  max-height: calc(100vh - 80px);
  overflow: auto;
}

.display-notifications-down {
  width: 280px;
  display: inline-block;
  bottom: 42px;
  max-height: calc(100vh - 136px);
  overflow: auto;
}

.dropdown-notification-item {
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  &:hover {
    background-color: $gray;
  }
  i {
    text-align: center;
    align-self: center;
    font-size: 1em;
  }
  p {
    align-self: center;
    font-size: 12px;
  }
}

.active-notification {
  font-size: 28px;
  padding: 8px 5px;
}

.navbar-nav .dropdown-menu {
  top: 46px;
  border: 1px solid #CFD1D4;
  border-radius: $border-radius;
  box-shadow: 0 0 10px $info;
  position: absolute;
}
