#event_budget_value_display {
  justify-content: center;
  font-size: 70px;
  font-weight: bold;
}

#value_per_person {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 0;
  margin-bottom: 50px;
}
