
.question-card-container {
  background-color:white;
  border-radius: $border-radius;
  display: inline-grid;
  padding:10px;
}

.dropdown-answers{
  width:100%;
  margin-top:30px;
  transition: all 1s ease-in;

}

.questions-main-container {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.header-question {
  position:relative;
}

.delete-question {
  position:absolute;
  top: 0px;
  right:5px;
}

.back-button{
  font-family:'Montserrat'
}

.send-reminder-button {
  width: 94%;
}

.color-container-div {
  p {
    font-family: 'Catamaran';
  }

  #yes_color {
    font-size:30px;
    color: $red;
    margin-right:10px;
  }

  #no_color {
  font-size:20px;
  color: $darkblue;
  font-size:30px;
  margin-right:10px;
  }
  #unanswered_color {
    font-size:20px;
    color: grey;
    font-size:30px;
    margin-right:10px;
  }
}
