#wheel {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

#wheel:after {
  content: "";
  font-size: 15px;
  background: #931621;
  border: 2px solid #931621;
  position: absolute;
  top: -18px;
  left: 50%;
  width: 40px;
  height: 28px;
  margin-left: -18px;
  transform: rotate(45deg);
}

#canvas {
  width: 500px;
}
