svg {
  margin-left: 20px;
}

text {
  font-size:18px;
  pointer-events:none;
}

#chart {
  width:500px;
  height:500px;
  top:0;
  left:0;
}

.selected {
  /* transition: fill .1s ease; */
  fill: rgb(62, 35, 35);
  animation: blink .5s;
}

.selected + text {
  fill: antiquewhite;
}

@keyframes blink {
  0% { fill: yellow }
  20% { fill: rgb(62, 35, 35) }
  40% { fill: yellow }
  60% { fill: rgb(62, 35, 35) }
  80% { fill: yellow }
  100% { fill: rgb(62, 35, 35) }
}
