#show-banner {
  height: 160px;
  position: relative;
}

.edition-banner {
  position: absolute;
  opacity: 0.3;
  object-fit: cover;
}

.show-map {
  height: 160px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.show-main-container {
  border-radius: $border-radius;
  overflow: hidden;
  background-color: white;
}

// TAGS
.event-tags {
  background: #b7b7b7;
  padding: 8px;
  font-size: 15px;
  border-radius: $border-radius;
  text-align: center;
  white-space: nowrap;
}

.show-icons i {
  font-size: 0.75rem;
  min-width: 1rem;
}

// FRIENDS
.show-guests-div {
  max-width: calc(100% - 88px);
}

.show-guest-list {
  margin-left: 5px;
}

.avatar-guest {
  width: 32px;
  border-radius: 50%;
}

.avatar-host {
  background-color: $white;
  border: 2px solid $white;
  border-radius: 18px;
  min-width: 80px;
  .avatar-host-tag {
    min-width: 44px;
  }
  img {
    width: 32px;
    border-radius: 50%;
  }
}

@include media-breakpoint-up(sm) {
  .avatar-guest {
    width: 40px;
  }
  .avatar-host {
    border-radius: 22px;
    min-width: 96px;
    img {
      width: 40px;
    }
  }
  #show-banner {
    height: 240px;
  }
  .show-map {
    height: 240px;
  }
  .show-icons i {
    font-size: 1rem;
    min-width: 1.5rem;
  }
}

#see-all-guests {
  margin-top: 5px;
  padding: 5px 10px;
}

#more {
  display: none;
}

.guest-label-parent {
  position: relative;

  .guest-label {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    top: 3em;
    background-color: white;
  }

  &:hover .guest-label {
    visibility: visible;
  }
}

// QUESTION CARDS
.answer-hidden {
  display: none;
}

input.radio_buttons:checked + label {
  background: $danger;
}

.question-card {
  background-color: $success;
  border: 0;
  border-radius: $border-radius;
  padding: 1em;
  margin-top: .5em;

  &:first-child {
    margin-top: 0;
  }

  &.with-answer {
    background-color: $info;
  }
}

.question-card-host {
  background-color: $info;
  color: white;
  border: 0;
  border-radius: $border-radius;
  padding: 1em;
  margin-top: .5em;

  &:first-child {
    margin-top: 0;
  }

  &.with-answer {
    background-color: $success;
  color: white;
  }
}

.banner-top {
  min-height: 20%;
}

.banner-middle {
  min-height: 20%;
}

.banner-bottom {
  min-height: 40%;
}
