#show-banner {
  height: 240px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7)), url(https://images.unsplash.com/photo-1444210971048-6130cf0c46cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.show-map {
  height: 240px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.show-main-container {
  border-radius: $border-radius;
  overflow: hidden;
  background-color: white;
}

// TAGS
.event-tags {
  background: #b7b7b7;
  padding: 8px;
  font-size:15px;
  border-radius: $border-radius;
  text-align: center;
  white-space: nowrap;
}

// FRIENDS
.show-guest-list {
  margin-left:5px;
}

.avatar-guest {
  width:60px;
  border-radius: 50%;
}


.avatar-host {
  width: 80px;
  border-radius: 50%;
  border: 3px solid white;
}

#see-all-guests {
  margin-top:5px;
  padding:5px 10px;
}

#more {
  display: none;
}

.guest-label-parent {
  position: relative;
  // overflow: visible;

  .guest-label {
    visibility: hidden;
    position: absolute;
    z-index: 9;
    top: 4em;
    background-color: white;
  }

  &:hover .guest-label {
    visibility: visible;
  }
}



// QUESTION CARDS
.answer-hidden {
  display: none;
}

input.radio_buttons:checked + label {
  background: $danger;
}

.question-card {
  background-color: $success;
  border: 0;
  border-radius: $border-radius;
  padding: 1em;
  margin-top: .5em;

  &:first-child {
    margin-top: 0;
  }

  &.with-answer {
    background-color: $info;
  }
}

.question-card-host {
  background-color: $info;
  color: white;
  border: 0;
  border-radius: $border-radius;
  padding: 1em;
  margin-top: .5em;

  &:first-child {
    margin-top: 0;
  }

  &.with-answer {
    background-color: $success;
  color: white;
  }
}
