.sidenav {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: $red;
  overflow-x: hidden;
  padding-top: 20px;
}


#paths a {
  font-family: 'Montserrat';
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: lighter;
  padding: 12px 8px 12px 16px;
  transition: background-color 0.5s ease;
}


.sidenav img {
  width: 240px;
  display: block;
  margin-top: 3px;
  margin-bottom: 50px;
}

.one {
  display: flex;
  justify-content: space-end;
  text-align: left;
  &:hover {
    background-color: #75111A;
  }
}


.one i {
  align-self: center;
  margin-left: 50px;
  color: white;
  font-size: 25px;
}
