#sidenav {
  display: none;
  height: 100vh;
  width: 240px;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: $red;
  overflow-x: hidden;
  img {
    width: 240px;
    display: block;
    margin-bottom: 40px;
  }
}

@include media-breakpoint-up(md) {
  #sidenav {
    display: block;
  }
}

.sidenav-item {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  text-decoration: none;
  font-size: 1em;
  font-weight: lighter;
  padding: 10px;
  transition: background-color 0.5s ease;
  color: white;
  &:hover {
    background-color: #75111A;
    text-decoration: none;
    color: white;
  }
  i {
    padding: 0;
    text-align: center;
    align-self: center;
    font-size: 1.5em;
    color: white;
  }
}
