.tag-choice {
  background: #b7b7b7;
  padding: 12px;
  border-radius: 5px;
  opacity: .4;
  text-align: center;
  margin: 2px;
  input {
    display: none;
  }
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $darkblue;
  color: white;
  opacity: 1;
  }
}

.tag-choices {
  font-size: 12px;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  margin: 20px 0;
  // font-size: 80%;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-column-gap: 1em;
  // grid-row-gap: 1em;
}

.form-group.check_boxes.optional.event_tags {
  display: contents;
}
