.tag-choices {
  font-size: 12px;
  max-height: 75%;
  overflow: scroll;
  legend {
    font-size: 1.4em;
  }
}

.tag-choice {
  background: $gray;
  border-radius: $border-radius;
  text-align: center;
  margin: 2px;
  label {
    padding: 10px;
    cursor: pointer;
  }
  input {
    display: none;
  }
  &:hover {
    opacity: 1;
  }
  &.active {
    background: $primary;
    color: white;
    opacity: 1;
  }
}

.form-group.check_boxes.optional.event_tags {
  display: contents;
}
